<?xml version="1.0"?>
<!--
/**
 * Copyright © Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * See COPYING.txt for license details.
 */
-->
<config>
    <modules>
        <Faonni_Breadcrumbs>
            <version>1.1.4</version>
        </Faonni_Breadcrumbs>
    </modules>
    <global>
        <helpers>
            <faonni_breadcrumbs>
                <class>Faonni_Breadcrumbs_Helper</class>
            </faonni_breadcrumbs>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <faonni_breadcrumbs>
                    <file>faonni/breadcrumbs.xml</file>
                </faonni_breadcrumbs>
            </updates>
        </layout>
    </frontend>
</config>